# PostgreSQL Database credentials
PGSQL_DB_NAME=""
PGSQL_HOST=""
PGSQL_PORT=""
PGSQL_USERNAME=""
PGSQL_PASSWORD=""


# JWT Secret
JWT_ACCESS_SECRET=""
JWT_REFRESH_SECRET=""

# AWS S3 Bucket info
S3_BUCKET_NAME=""
AWS_REGION=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""

# PixelDrain API Info
PIXELDRAIN_API_KEY=""

# Cyberfile.me API Info
CYBERFILE_USERNAME=""
CYBERFILE_PASSWORD=""
CYBEFILE_API_KEY=""

# Bunkr API Info
BUNKR_API_KEY=""